$variable: rgb(139, 18, 18);
$isabelline: #f4f3ee;
$isabelline-1-dark: #dcdbd6;
$isabelline-2-dark: #c3c2be;
$melon: #e0afa0;
$yInMnBlue: #3a506b;
$yInMnBlue-1-light: #4e627a;
$yInMnBlue-2-light: #617389;
$spaceCadet: #1c2541;
$spaceCadet-1-dark: #19213b;
$oxfordBlue: #0b132b;
$oxfordBlue-1-light: #232b40;
$oxfordBlue-2-light: #3c4255;
$oxfordBlue-3-light: #545a6b;
$oxfordBlue-1-dark: #0a1127;
$oxfordBlue-2-dark: #090f22;
$tea-green: #C1D7AE;
$dark-sea-green: #1b3022;
