$variable: rgb(139, 18, 18);
$isabelline: #f4f3ee;
$isabelline-1-dark: #dcdbd6;
$isabelline-2-dark: #c3c2be;
$melon: #e0afa0;
$yInMnBlue: #3a506b;
$spaceCadet: #1c2541;
$oxfordBlue: #0b132b;
$oxfordBlue-1-light: #232b40;
$oxfordBlue-2-light: #3c4255;
$oxfordBlue-3-light: #545a6b;
