@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  box-sizing: border-box;
}

html {
  /* font-size: 12px; */
  /* 12px / 16px = 0.75 = 75% */
  /* Percentage of user's browser font-size setting */
  font-size: 75%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#app {
  color: #2c3e50;
  text-align: center;
}
